@using MyBlazorShop.Libraries.Services.Product.Models;

<div class="row">
    <div class="col-5 col-md-3 text-end">Id:</div>
    <div class="col-7 col-md-9">@surfBoardModel.Id</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Navn:</div>
    <div class="col-7 col-md-9">@surfBoardModel.Name</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Type:</div>
    <div class="col-7 col-md-9">@surfBoardModel.BoardType.Name</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Pris:</div>
    <div class="col-7 col-md-9">@surfBoardModel.Price</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Højde:</div>
    <div class="col-7 col-md-9">@surfBoardModel.Height</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Bredde:</div>
    <div class="col-7 col-md-9">@surfBoardModel.Width</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Tyggelse:</div>
    <div class="col-7 col-md-9">@surfBoardModel.Thickness</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Volume:</div>
    <div class="col-7 col-md-9">@surfBoardModel.Volume</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Udstyr:</div>
    @foreach (var equipment in surfBoardModel.Equipments)
    {
        @(equipment.Name+", ");
    }
</div>
<img alt="Photo of @surfBoardModel.Name" src="images/@currentimage" onclick="@ChangeImage" class="col-12 col-md-12">
@code {

    [Parameter]
    public SurfBoardModel surfBoardModel { get; set; }

    private string currentimage;
    private int number = 0;

    private void ChangeImage()
    {
        if (number == 0)
        {
            currentimage = surfBoardModel.Image;
        }
        else
        {
            currentimage = surfBoardModel.Name + $"{number % 4}.jpg";            
        }
        number++;
        if(number == 4)
        {
            number=0;
        }
    }

    protected override void OnInitialized()
    {
        currentimage = surfBoardModel.Image;

        base.OnInitialized();
    }
}

